<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
  <div class="container nav-inner">
    <div class="logo">MakersBnB</div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/spaces">Spaces</a>
      <a href="/spaces/new">List Space</a>
      <a href="/requests">Bookings</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
  </div>
</nav>

<div class="auth-wrapper">
  <div class="auth-card">

    <h1 style="margin-bottom:30px;">Create Account</h1>

    <form method="POST" action="/users">

      <label>Name</label>
      <input type="text" name="name" required>

      <label>Email</label>
      <input type="email" name="email" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <input type="submit" value="Create Account">

    </form>

  </div>
</div>

</body>
</html>